@media screen and (max-device-width: 767px) {
    #login-form img {
        height: 150px;
    }

    #login-form input {
        font-size: 30px;
        width: 500px;
    }

    #login-form button {
        font-size: 30px;
        width: 500px;
    }
}