footer
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    padding-bottom: 5px;
    bottom: 0;
}

footer #categ
{
    color: white;
    display: flex;
    justify-content: space-around;
}

footer #categ ul
{
    font-size: 22px;
    list-style: none;
}

footer #categ ul a 
{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

footer #categ ul a:hover
{
    color: aqua;
}

footer #categ ul h3
{
    color: darkgray;
    margin-bottom: 0;
}

footer #categ ul hr
{
    width: 200px;
    float: left;
    background-color: white;
}

footer #copyright
{
    color: darkgray;
    text-align: center;
    font-size: 10px;
}

@media only screen and (max-device-width: 800px) and (min-device-width: 600px)
{
    footer #categ
    {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    footer #categ ul
    {
        font-size: 25px;
    }
}

@media only screen and (max-device-width: 600px) and (min-device-width: 400px)
{
    footer #categ
    {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    footer #categ ul
    {
        font-size: 28px;
    }

    footer #copyright
    {
        font-size: 8px;
    }
}

@media only screen and (max-device-width: 400px)
{
    footer #categ
    {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    footer #categ ul
    {
        font-size: 28px;
    }

    footer #copyright
    {
        font-size: 6px;
    }

    footer #categ #get_in_touch .fa
    {
        display: none;
    }
}