#independence
{
    padding: 30px;
    color: white;
}

#independence #content_ind
{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
}

#independence #content_ind h1
{
    margin: auto;
    font-size: 60px;
}

#independence #content_ind img
{
    height: 250px;
    margin: auto;
}