
nav
{
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul a
{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 4vh;
    text-shadow: 0 0 10px black;
    transition: 0.5s;
}

nav ul a:hover
{
    color: aqua;
}

nav ul #active
{
    color:aqua;
    border-bottom: 2px solid aqua;
}

#nav_hr
{
    width: 80%;
    background-color: white;
    height: 0.5px;

    animation: hr-width 1s;
}

@keyframes hr-width
{
    0% { width: 0%; }
    100% { width: 80%; }
}

@media only screen and (max-device-width: 1000px)
{
    nav ul a
    {
        font-size: 2vh;
    }
}