html
{
    /*overflow: hidden;*/
    scroll-behavior: smooth;
}

/*@keyframes anim 
{
    from { transform: translate(0%, 50%); }
    to { transform: translate(0%, 0%); }
}*/

body
{
    background-color: black;
    background-image: url("images/background3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

#top_btn
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2;
}

/* content css*/
#content-list
{
    padding: 10px;
}

#content-list #elements
{
    list-style-type: none;
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.el
{
    height: 200px;
    width: auto;
    background-size: cover;
    margin: 5px;
    background-position: center;
    transition: 0.5s;
    filter: grayscale(100%);
    text-align: center; 
}

.el:hover
{
    box-shadow: 0 0 10px black;
    filter: grayscale(0%);
}

.el #details
{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: auto;
}

.el #details h3
{
    color: white;
    font-size: 30px;
}

.el #details a
{
    color: white;
    opacity: 0;
    text-decoration: none;
}

.el #details a:hover
{
    color: aqua;
}

.el:hover #details a
{
    opacity: 1;
    animation: display 1s;
}

@keyframes display
{
    from { opacity: 0; }
    to { opacity: 1; }
}


#el1
{
    background-image: url("images/image4.jpg");
}

#el2
{
    background-image: url("images/background.jpg");
}

#el3
{
    background-image: url("images/image3.jpg");
}

#el4
{
    background-image: url("images/old_orhei.jpg");
}

#el5
{
    background-image: url("images/cricova.jpg");
}

#el6
{
    background-image: url("images/codrii.jpg");
}

/* edit place sections */
.place_info
{
    /*height: 100vh;*/
    padding: 10px;
    position: relative;
    z-index: 1;
    background-color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.place_info h2
{
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 70px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.place_info hr
{
    margin-top: 0;
}

.place_info p
{
    color: white;
    text-shadow: 0 0 10px black;
    text-align: justify;
    width: 80%;
    margin: auto;
    font-size: 25px;
}

#orhei #orhei_bg
{
    background: url(images/image4.jpg);
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}

#chisinau #chisinau_bg
{
    background: url(images/background.jpg);
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}

#soroca #soroca_bg
{
    background: url(images/image3.jpg);
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}

#old_orhei #old_orhei_bg
{
    background: url(images/old_orhei1.jpg);
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}

#cricova #cricova_bg
{
    background: url(images/cricova1.jpg);
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}

#codrii #codrii_bg
{
    background: url(images/codrii.jpg);
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    width: 100%;
    height: 100%;
}


@media only screen and (min-device-width: 600px)
{
    #content-list
    {
        height: 100vh;
    }
}

/* grid-template-columns = 2 */
@media only screen and (max-device-width: 1000px) and (min-device-width: 600px)
{
    #content-list #elements
    {
        grid-template-columns: auto auto;
    }
}

/* grid-template-columns = 1 */
@media only screen and (max-device-width: 600px)
{
    #content-list #elements
    {
        grid-template-columns: auto;
    }
}