
body
{
    background-color: black;
    background-image: url("images/dark_bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}