body {
background-color: black;
background: url("Imagini/SamboConstructBackground.png");
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
}
/*======================= Section 2 ====================================*/
.s2 
{
  padding: 20px;
}
.s2 .produse 
{
  padding: 10px;
  background-color: rgba(0,0,0,0.7);
  border-radius: 10px;
}
.s2 .produse .denumire {
  margin-left: 2%;
  font-size: 30px;
  font-family: Verdana;
}
.s2 .produse .lista 
{
}
.s2 .produse .lista table {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px #3d3d3d, 
              0 0 10px #3d3d3d;
  width: 90%;
}
.s2 .produse .lista h3 {
  font-size: 25px;
  padding-top: 5px;
}
.s2 .produse .lista table hr {
  background-color: #ff8500;
}
.s2 .produse .lista table img {
  width: 250px;
  height: 250px;
  padding: 5px;
}
.s2 .produse .lista table .nume {
  font-size: 25px;
}
.s2 .produse .lista table .pret {
  font-size: 30px;
  font-weight: bold;
  color: #ff8500;
}
.s2 .produse .lista table .mai_multe {
  text-decoration: none;
  float: right;
  font-size: 30px;
  color: black;
  padding: 10px;
}
.s2 .produse .lista table .mai_multe:hover {
  color: #ff8500;
  transition: all 0.3s ease;
}
/*======================= End of Section 2 =============================*/